.footer {
    background-color: #F7F7F7; // Couleur de fond pour le footer
    padding: 20px; // Espacement intérieur pour le contenu du footer
  
    .footer-columns {
      display: flex;
      justify-content: space-between;
    }
  
    .footer-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Alignement des éléments en colonne à gauche
      margin-right: 20px; // Espacement entre les colonnes
    }
  
    h3 {
      margin-bottom: 10px; // Espacement sous le titre
    }
  
    NavLink {
      text-decoration: none; // Supprimer le soulignement des liens
      color: #333; // Couleur du texte des liens
      margin-bottom: 5px; // Espacement entre les liens
    }
  }
  
  